a {
    color: #D1706B; 
    text-decoration: underline;
    font-family: cooplight;
}
h1{
    color:#d8aeae;
    font-family:cooplight;
    font-size: 60px;
    font-weight:100;
    text-align:center;
    letter-spacing:10px;

}
h2{
    color:#d8aeae;
    font-family:cooplight;
    
}
p{
    color:#d8aeae;text-decoration:none;font-family:cooplight;
    background-color: #0,0,0,.5;
    }
h4{
    color:#d8aeae;text-decoration:none;font-family:cooplight;
}
body{
    background-image: url(https://codehs.com/uploads/56e9460069536dd4f0628958360c7792);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    color:#f1f1f1;text-decoration:none;font-family:cooplight;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: transparent;
  
}
li a {
  display: block;
  color: #f1f1f1;
  padding: 10% 20%;
  text-decoration: none;
}
li a:hover {
  background-color: #d8aeae;
  color: white;
}
@font-face {
  font-family: cooplight;
  src: url(https://codehs.com/uploads/33d7abe86574963bc840309fb23054c2);
@font-face{
    font family:;
}
}
.element {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}